html {
    height: 100%;
    overflow: hidden;
}
body{
    margin: 50;
    padding: 20;
    background: rgb(210, 211, 211);
}
.staplar{
    color: black;
    font-size: 12px;
    font-weight: 600;
    background:silver;
    display: inline-block;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 3px 0 purple;
    border-radius: 3px;
    position: absolute;
    margin: 430px;
    margin-right: 0px;
    margin-top: 13%
}
.staplar li{
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}
.staplar span{
    width: 100%;
    position: absolute;
    text-align: center;
}
.staplar .stapel{
    display: block;
    background:purple;
    width: 10px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
}
.staplar .stapel::before{
    color: #000;
    content: attr(data-percentage) '%';
    position:relative;
    bottom: 20px;
}
.photo-image{
    width:300px; 
    height:300px;
    position: absolute;
    left: 750px;
    top: 240px;
    padding-left: 170px;
    padding-right: 90px;
}
.beskrivning{
    position: absolute;
    text-align: left; 
    padding: 5% 15% 5% 0%;
    margin: 10px;
    margin-right: 55%;
}
.contact{
    position: absolute;
    padding-left: 68%;
    padding-top: 37%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
