
/* .box1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1; 
    grid-row-end: 2;
    text-align: center;
    padding: 30px;
    font-size: 35px;
}
.box2{
    background-color: #333;
}
.box3{
    background-color: #7f27a1;
}
.box4{
    background-color: #aaa;
}
.box5{
    background-color: aliceblue;
}
@media screen and (max-width: 700px){
    .box2{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3; 
        grid-row-end: 4;
    }
    .box3{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5; 
        grid-row-end: 6;
    }
    .box4{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7; 
        grid-row-end: 8;
    }
    .box5{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9; 
        grid-row-end: 10;
    }
} */